body{
    background-color: #a86e17;
}
.panel{
    background-color: whitesmoke;
    border-color: #af7011;
}
#navigator {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #aa7a33;
}


ul.topnav li {
    float: left;
}



ul.topnav li a {
    display: inline-block;
    color: #1c1c1c;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 14px;
}



ul.topnav li a:hover {
    background-color: sandybrown;
}

ul.topnav li.icon {
    display: none;
}



.topnav {
    font-family: sans-serif;
}

.kanan{
    float: right;  
}
#kolom{
    margin-top: 70px;
}
#bawah{
    margin-bottom: 100px;
    padding: 0px;
    margin: 0px;
    background-color: #aa7a33;
}
p{
    font-size: 15px;
}
#copyright{
    text-align: center;
    font-size: 12px;
}
